<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis map 선언 표시 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lg.weather.Dao.WeatherDao">

    <insert id="insertinfo" parameterType="WeatherDto">
        INSERT INTO weatherinfo ( baseDate, baseTime, LGT, PTY, REH, RN1, SKY, T1H, VEC, WSD, LOCATION )
        VALUES (#{baseDate}, #{baseTime}, #{LGT}, #{PTY}, #{REH}, #{RN1}, #{SKY}, #{T1H}, #{VEC}, #{WSD}, #{LOCATION})
    </insert>

    <select id="weatherSelect" parameterType="HashMap" resultType="WeatherDto">
        SELECT * FROM weatherinfo where baseDate = #{baseDate} and baseTime = #{baseTime};
    </select>

    <select id="checkinfo" parameterType="HashMap" resultType="int">
        SELECT count(*) FROM weatherinfo WHERE baseDate = #{baseDate} and baseTime = #{baseTime};
    </select>

    <select id="getLogin" parameterType="HashMap" resultType="int">
        select count(*) from adminuser WHERE admin_id = #{admin_id} and admin_pass = #{admin_pass}
    </select>

    <insert id="insertBoard" parameterType="BoardDto">
        INSERT INTO board ( title , content, adminName )
        VALUES (#{title}, #{content}, #{adminname})
    </insert>

    <select id="getContent" resultType="BoardDto">
        SELECT * FROM board
        WHERE regdate=(select MAX(regdate) from board)
    </select>
</mapper>